
.tutorial-info-wrapper {
   width: 100%;
   height: 90px;
   display: inline-flex;
   flex-flow: row;   

   padding: 8px 15px 8px 15px;
}

.tutorial-more {
   display: flex;
   align-items: center;
   justify-content: center;

   border-top: 2px solid gray;

   width: 100%;
   height: 140px;
}

.tutorial-link {
   flex: 12;
   align-self: center;
   text-align: center;
   font-size: 32px;
}

.tutorial-flag {
   flex: 1;
   align-self: flex-end;
   transition: filter 300ms;
}

.tutorial-box {
   display: inline-flex;
   height: 100%;
   
   flex-grow: 1;
   flex-basis: 0;

   /* Center stuff */
   align-items: center;
   justify-content: center;

   border-right: 2px solid gray;

   color: black;
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-size: 16px;
   text-align: center;
}

.tutorial-description {
   overflow: scroll;
   font-size: 14px;
   padding: 0px 5px 0px 5px;
}

.tutorial-techno {
   display: flex;
}

.tutorial-rating-image {
   width: 100%;
   margin-left: 10%;
}