<div id="home-container" class="container">
    <div class="row">
        <div class="col-md-12 home-welcome">
            <h3>Bienvenue sur Tutorialize</h3>
        </div>
    </div>

    <div class="row">
        <div id="menu-root" class="col-sm-3 no-pad-marg">
            <!--Menu-->
            <searchfield></searchfield> 
        </div>
        <div id="tutolist-root" class="col-sm-9 no-pad-marg">
            <!--TutoList-->
            <tutolist></tutolist>
        </div>
    </div>
</div>