<div id="home-container" class="container">
    <div class="row">
        <div class="col-md-12 home-welcome">
            <p>
                <B>TROUVEZ LE TUTORIEL LE PLUS ADAPTÉ À VOS ATTENTES</B>
                </br>
                Parmis une sélection de tutoriels
            </p>
<!--Formulaire de recherche -->
            <form class="col-xs-4 col-xs-offset-4" method="get" role="form" id="form_search">
                <label for="form_search"></label>
                <div class="input-group">
                    <input type="search" class="form-control" id="txtSearch" aria-label="..." />
                    <div class="input-group-btn">
                        <button value="Search" alt="Search Button" type="submit" tabindex="4" form="form_search" id="btnSearch" class="btn btn-danger">Recherche</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <tutorialcontroller></tutorialcontroller>
</div>