#home-container {
    width: 100%;
    height: 100%;
}

.home-welcome {
    text-align: center;
    background: #FF3D3C;
    color: white;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}
