/* Parent of tutorials */
.tutorials-container {
   background-color: /*lightyellow*/;
   padding: 0px 35px 0px 0px;
}

/* Single tutorial container */
.tutorial-container {
   height: 80px;

   display: inline-flex;
   flex-flow: row;

   margin: 10px 0px 15px 0px;
   padding: 10px 15px 10px 15px;

   background-color: lightgray;

   box-shadow: 5px 5px 4px #888888;
   border-radius: 5px;
}

.tutorial-box {
   display: inline-flex;
   height: 100%;

   flex-grow: 1;
   flex-basis: 0;

   /* Center stuff */
   align-items: center;
   justify-content: center;

   border-right: 2px solid gray;

   color: black;
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-size: 16px;
   text-align: center;
}

.no-border {
   border: 0;
}

.tuto-list-img {
   width: 48px;
}