/* Parent of tutorials */
.tutorials-container {
   padding: 0px 35px 0px 0px;
}

/* Single tutorial container */
.tutorial-container {
   height: 90px;
   transition: height ease-out 400ms;
   
   overflow: hidden;

   margin: 10px 0px 15px 0px;
   padding: 0;

   background-color: lightgray;

   box-shadow: 5px 5px 4px #888888;
   border-radius: 5px;
}

.tutorial-container-focus {
   height: 250px;
}

<<<<<<< Updated upstream
.tutorial-container-focus.ng-animate {
   animation: none 0s;
=======
.tutorial-info-wrapper {
   width: 100%;
   height: 90px;
   display: inline-flex;
   flex-flow: row;   

   padding: 8px 15px 8px 15px;
}

.tutorial-more {
   display: flex;
   align-items: center;
   justify-content: center;

   border-top: 2px solid gray;

   width: 100%;
   height: 140px;
}

.tutorial-link {
   flex: 12;
   align-self: center;
   text-align: center;
   font-size: 32px;
}

.tutorial-flag {
   flex: 1;
   align-self: flex-end;
   transition: filter 300ms;
}

.tutorial-box {
   display: inline-flex;
   height: 100%;
   
   flex-grow: 1;
   flex-basis: 0;

   /* Center stuff */
   align-items: center;
   justify-content: center;

   border-right: 2px solid gray;

   color: black;
   font-family: roboto;
   font-size: 16px;
   text-align: center;
}

.tutorial-description {
   overflow: scroll;
   font-size: 14px;
   padding: 0px 5px 0px 5px;
}

.tutorial-techno {
   display: flex;
}

.tutorial-rating-image {
   width: 100%;
   margin-left: 10%;
>>>>>>> Stashed changes
}

.no-border {
   border: 0;
}

.tuto-list-img {
   height: 32px;
}