{{$ctrl.tutos}}

<div class="tutorials-container container-fluid">
   <div class="container-fluid row no-pad-marg">

      <div class="tutorial-container col-md-12" ng-repeat="tutorial in $ctrl.tutorials track by $index" ng-class='{"tutorial-container-focus": $index==$parent.focusedTuto}'>
         
         <div class="tutorial-info-wrapper" ng-click='$ctrl.tutorialClick($index)'>
            <div class="tutorial-box tutorial-description">
               <a>{{tutorial.description}}</a>
            </div>
           
            <div class="tutorial-box tutorial-techno">
               <div ng-repeat="techno in tutorial.techno track by $index" class="no-pad-marg">
                  <img class="tuto-list-img" ng-if="techno.hasImg" ng-src="../../data/img/technos/{{techno.name}}.png"></img>
                  <span ng-if="!techno.hasImg">{{techno.name}}</span>
               </div>
            </div>
           
            <div class="tutorial-box">
               <img class="tuto-list-img" ng-src="../../data/img/flags/{{tutorial.lang}}.png"></img>
            </div>
           
            <div class="tutorial-box">
               <img class="tuto-list-img" ng-src="../../data/img/support/{{tutorial.support}}.png"></img>
            </div>
            
            <div class="tutorial-box">
               <img class="tuto-list-img" ng-if="tutorial.price == 'free'" ng-src="../../data/img/free.png"></img>
               <span ng-if="tutorial.price != 'free'">{{tutorial.price}}</span>
            </div>
           
            <div class="tutorial-box">
               {{tutorial.date}}
            </div>
         
            <div class="tutorial-box no-border">
               <img class="tutorial-rating-image" ng-src="../../data/img/rating/{{tutorial.rating}}.png" />
            </div>
         </div>


         <div class="tutorial-more" ng-show="$index==$parent.focusedTuto">
            <a href="{{tutorial.link}}" target="_blank" class="tutorial-link">Go and learn</a>
            
            <img style="width: 200px; height: 200px;" ng-src="../../data/img/webshots/{{tutorial.webshot}}" alt="Preview"/>
            
            <div class="tutorial-flag">
               <img ng-src="../../data/img/flag-icon.png" alt="Flag" class="tuto-list-img" ng-click="$ctrl.signal($index)" data-toggle="tooltip"
                  title="Signal tutorial" data-placement="left" tooltip/>
            </div>
         </div>

      </div>
   </div>
</div>