body {
    margin-top: 50px;
}

.glyphicon {
    margin-right: 10px;
}

.panel-body {
    padding: 0px;
}

.panel-body table tr td {
    padding-left: 15px
}

.panel-body .table {
    margin-bottom: 0px;
}

.list-group-item:last-child {
    margin: 5px
}
 
 .mgrey
 {
      background-color:#f5f5f0  !important;
       border-bottom-color: grey !important;
 }