<div id="searchfield-container">

   <div class="panel-group" id="searchfield">


      <!-- Barre de recherche -->
      <div class="panel panel-default">

         <div class="panel-heading">
            <label for="form_search"> Trouver un tutoriel </label>

            <div class="input-group">
               <input type="search" class="form-control" id="txtSearch" aria-label="..." />
               <div class="input-group-btn">
                  <button value="Search" alt="Search Button" type="submit" tabindex="4" form="form_search" id="btnSearch" class="btn btn-danger">Recherche</button>
               </div>
            </div>

         </div>

      </div>

      <!-- Filtres -->
      <div class="panel panel-default">

         <div class="panel-heading">

            <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#searchfield" data-target="#collapse-filters">
                  <span class="glyphicon glyphicon-list"></span>  
                  Affiner par   
               </a>
            </h4>

         </div>

         <div id="collapse-filters" class="panel-collapse collapse in">

            <div class="panel-body">

               <table class="table">
                  <tr>
                     <td>
                        <filterlist name="'lang'" display-name="'LANGUE'" filter="$ctrl.filters.static.lang" filter-count="$ctrl.filtersCount.lang">
                        </filterlist>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <filterlist name="'language'" display-name="'LANGUAGE'" filter="$ctrl.filters.static.language" filter-count="$ctrl.filtersCount.language">
                        </filterlist>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <filterlist name="'media'" display-name="'MEDIA'" filter="$ctrl.filters.static.media" filter-count="$ctrl.filtersCount.media">
                        </filterlist>
                     </td>
                  </tr>

                  <tr>
                     <td>
                        <filterlist name="'techno'" display-name="'TECHNOLOGIES'" filter="$ctrl.filters.static.techno" filter-count="$ctrl.filtersCount.techno">
                        </filterlist>
                     </td>
                  </tr>


                  <tr>
                     <td>
                        <!-- Head -->
                        <a data-toggle="collapse" data-parent="#collapse-filters" data-target="#collapse-others">
                           <span class="glyphicon glyphicon-comment text-success"> </span> PLUS
                           <span class=" glyphicon glyphicon-chevron-down pull-right" ></span>
                        </a>

                        <div id="collapse-others" class="collapse in">

                           <!-- Prix du tuto -->
                           <br>
                           <label for="">Prix maximum :</label> {{prix}} euros
                           <br>

                           <li class="list-group-item ">
                              <span>0</span> <span class="pull-right">100</span>
                              <input id="ex2" type="range" list="tickmarksPrix" id="price-min" ng-model="prix" min="0" max="100" step="2" />
                           </li>

                           <datalist id="tickmarksPrix">  
                              <option ng-repeat="v in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index" value="{{$index * 10}}" />
                           </datalist>

                           
                           <!-- Age du tuto-->
                           <br>
                           <label for="">Âge :</label> moins de {{age}} ans
                           <br>

                           <li class="list-group-item ">
                              <span>0</span> <span class="pull-right">10</span>
                              <input id="ex2" type="range" list="tickmarksAge" ng-model="age" min="0" max="10" step="0.5" />


                           </li>

                           <datalist id="tickmarksPrix">  
                              <option ng-repeat="v in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index" value="{{$index * 10}}" />
                           </datalist>
                        </div>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>