<div id="header-container">
      <button ng-click="$ctrl.addTuto()">Ajouter 3 tutos</button>
   <div id="header-title">
      <h1>TUTORIALIZE</h1>
   </div>

   <div id="header-control">
      <a ng-href="auth/github">
         <img class="newtuto-image" ng-src="../../data/img/newtuto-logo.png"/>
      </a>

      <!-- -->

      <a ng-href="auth/github" ng-if="!$ctrl.auth">
         <img class="login-image" ng-src="../../data/img/github-logo.png"/>
      </a>
      <a ng-href="/logout" ng-if="$ctrl.auth">
         <img class="login-image" ng-src="{{$ctrl.user.avatarUrl}}"/>
      </a>
   </div>
</div>