#header-container {
    width: 100%;
    height: 100px;
    display: flex;
    color: #464D52;


    text-align: center;
    padding: 0;
    font-family: roboto; 
}

#header-title {
    display: flex;
    flex: 8;
    height: 100%;
    margin: 10px 0px 0px 40px;
    color: #464D52;
}

a:link {
  color: #464D52; 
  text-decoration: none; 
}

a:hover {
  color: #464D52;  
  text-decoration: none;
}

#header-control {
    display: inline-flex;
    flex: 4;
    height: 100%;
    min-width: 200px;
    max-width: 350px;
    position: relative;
    margin: 10px 50px 0px 0px;
    padding: 18px 0px 18px 0px;
}

.admin-temp-link {
   position: absolute;
   left: 0;
   margin-top: 15px;
   color: #464D52;
}

.admin-temp-link:hover {
   color: #FF3D3C;
}

.newtuto-image {
   position: absolute;
   left: 70px;
   margin-top: 15px;
   color: #464D52;
}

.newtuto-image:hover {
   color: #FF3D3C;
}

#github-login-container {
   position: absolute;
   left: 0;
   width: 48px;
   height: 48px;
   background-image: url("../../data/img/github-logo.svg");
   background-size: cover;
}

.login-image {
   position: absolute;
   right: 0;
   width: 48px;
   height: 48px;
}

#github-logo {
   transition: fill linear 200ms;
}

svg:hover #github-logo{
    fill: #FF3D3C;
}

#add-tutorial-container {
   position: absolute;
   right: 0;
   width: 64px;
   height: 64px;
}